.projectsSection {
  max-width: var(--container-max-width, 1200px); 
  margin: 0 auto; 
  padding: 2rem 0rem; 
}

.sectionTitle {
  text-align: center;
  font-size: 3rem; 
  color: var(--text-dark);
  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem; 
}

.noProjects {
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-secondary-dark);
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--surface-light);
  border-radius: var(--border-radius);
}


@media (min-width: 768px) { 
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1024px) { 
  .projectsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
